.table__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 10vh 5vw;
}

/* Children common styles */

.table__head, .table__body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.table__head {
    font-weight: 700;
}

.table__row {
    all: unset;
    list-style-type: none;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem;
    border-bottom: 1px solid var(--gray);
}