.form__container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form__field {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.button__field {
    display: flex;
    gap: 20px;
}

.form__datepicker, .form__input {
    all: unset;
    border: 1px solid var(--cream-dark);
    background: var(--cream-light);
    border-radius: 5px;
    padding: 8px 15px;
    width: 500px;
}

.form__datepicker:focus, .form__input:focus {
    transition: 0.5s;
    box-shadow: 0 0 0.5em var(--black);
}

.form__label {
    font-weight: 500;
}

.form__button, .button__time-appointment {
    color: var(--white);

    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

    border-radius: 8px;
    padding: 16px 20px;
    max-width: 100px;

    transition: 0.5s;
}

.form__button:hover {
    opacity: 0.7;
}

.--submit {
    background: var(--green);
}

.--submit:hover {
    opacity: 0.8;
}

.--required::after {
    content: ' *';
    font-weight: 300;
    color: var(--red);
}

.--time-appointment {
    background: var(--blue);
}