.searchbar__container {
    display: flex;
    align-items: center;
    gap: 1rem;

    width: 40%;
}

.searchbar__input {
    all: unset;
    color: var(--dark-gray);

    padding: 7px 8px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 var(--dark-gray);
    width: 100%;
}