.modal__background {
    position: fixed;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    backdrop-filter: blur(2px);
}

.modal__container {
    background: var(--white);
    border-radius: 30px;

    filter: drop-shadow(0px 4px 42px rgba(0, 0, 0, 0.2));

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    padding: 20px;
    height: 50vh;
    width: 45vw;
}

.modal__title {
    font-size: 12px;
    color: var(--orange);

    margin-bottom: 1rem;
}

.modal__buttons {
    display: flex;
    gap: 1rem;

    margin-top: 3rem;
}

.modal__button {
    border-radius: 4px;
    padding: 0.5px 39px;
}

.--no {
    background-color: var(--red-light);
    color: var(--red);
}

.--yes {
    background-color: var(--green-light);
    color: var(--green-dark);
}