:root {
  --dark: #232323;
  --dark-gray: #747488;
  --gray: #d3d3d3;
  --white: #FFFFFF;
  --cream-dark: #E8E8E8;
  --cream-light: #FDFAFA;
  --red: #AE1100;
  --red-light: #F2D6D0;
  --green: #04b958;
  --green-dark: #034A2A;
  --green-light: #ACD9C5;
  --blue: #0481c4;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button, a, input {
  all: unset;
}

button, a {
  cursor: pointer;
}